<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Import-the-library" data-toc-modified-id="Import-the-library-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import the library</a></span></li></ul></li><li><span><a href="#Pandas-Dataframe" data-toc-modified-id="Pandas-Dataframe-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas Dataframe</a></span><ul class="toc-item"><li><span><a href="#Columns-and-Row-index" data-toc-modified-id="Columns-and-Row-index-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Columns and Row index</a></span></li><li><span><a href="#Series-objects" data-toc-modified-id="Series-objects-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Series objects</a></span></li><li><span><a href="#Dataframe-objects" data-toc-modified-id="Dataframe-objects-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Dataframe objects</a></span></li><li><span><a href="#Data-Types-comparison" data-toc-modified-id="Data-Types-comparison-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Data Types comparison</a></span></li></ul></li><li><span><a href="#File-management" data-toc-modified-id="File-management-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>File management</a></span><ul class="toc-item"><li><span><a href="#Load-data-from-CSV" data-toc-modified-id="Load-data-from-CSV-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Load data from CSV</a></span></li><li><span><a href="#Load-data-from-MS-Excel" data-toc-modified-id="Load-data-from-MS-Excel-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Load data from MS Excel</a></span></li><li><span><a href="#Load-from-SAS" data-toc-modified-id="Load-from-SAS-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Load from SAS</a></span></li><li><span><a href="#Load-data-from-SQL" data-toc-modified-id="Load-data-from-SQL-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Load data from SQL</a></span></li><li><span><a href="#Save-DataFrame" data-toc-modified-id="Save-DataFrame-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Save DataFrame</a></span></li></ul></li><li><span><a href="#Working-with-Dataframe" data-toc-modified-id="Working-with-Dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Working with Dataframe</a></span><ul class="toc-item"><li><span><a href="#Generic-methods" data-toc-modified-id="Generic-methods-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Generic methods</a></span><ul class="toc-item"><li><span><a href="#DataFrame-attributes" data-toc-modified-id="DataFrame-attributes-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>DataFrame attributes</a></span></li><li><span><a href="#Iteration-methods" data-toc-modified-id="Iteration-methods-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Iteration methods</a></span></li></ul></li><li><span><a href="#Math-methods" data-toc-modified-id="Math-methods-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Math methods</a></span></li><li><span><a href="#Select/filter-rows/cols" data-toc-modified-id="Select/filter-rows/cols-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Select/filter rows/cols</a></span></li></ul></li><li><span><a href="#Access-the-Dataframe" data-toc-modified-id="Access-the-Dataframe-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Access the Dataframe</a></span><ul class="toc-item"><li><span><a href="#Column-wise-operation" data-toc-modified-id="Column-wise-operation-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Column-wise operation</a></span><ul class="toc-item"><li><span><a href="#Change-column-labels" data-toc-modified-id="Change-column-labels-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Change column labels</a></span></li><li><span><a href="#Selecting-columns" data-toc-modified-id="Selecting-columns-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Selecting columns</a></span></li><li><span><a href="#Adding-new-columns-to-a-DataFrame" data-toc-modified-id="Adding-new-columns-to-a-DataFrame-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Adding new columns to a DataFrame</a></span></li><li><span><a href="#Common-column-element-wise-methods" data-toc-modified-id="Common-column-element-wise-methods-5.1.4"><span class="toc-item-num">5.1.4&nbsp;&nbsp;</span>Common column element wise methods</a></span></li></ul></li><li><span><a href="#Rowwise-operations" data-toc-modified-id="Rowwise-operations-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Rowwise operations</a></span></li><li><span><a href="#Summary--Dataframe-indexing" data-toc-modified-id="Summary--Dataframe-indexing-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Summary  Dataframe indexing</a></span></li><li><span><a href="#Exercises-(30-min)" data-toc-modified-id="Exercises-(30-min)-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Exercises (30 min)</a></span></li></ul></li><li><span><a href="#Advanced-operations" data-toc-modified-id="Advanced-operations-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Advanced operations</a></span><ul class="toc-item"><li><span><a href="#Merge-join,-concatenate" data-toc-modified-id="Merge-join,-concatenate-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Merge join, concatenate</a></span><ul class="toc-item"><li><span><a href="#Database-style-DataFrame-joining/merging" data-toc-modified-id="Database-style-DataFrame-joining/merging-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Database-style DataFrame joining/merging</a></span></li></ul></li><li><span><a href="#Groupby-:-split-apply-combine" data-toc-modified-id="Groupby-:-split-apply-combine-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Groupby : split-apply-combine</a></span><ul class="toc-item"><li><span><a href="#Aggregation-functions" data-toc-modified-id="Aggregation-functions-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Aggregation functions</a></span></li><li><span><a href="#Grouping-on-Continuous-Values" data-toc-modified-id="Grouping-on-Continuous-Values-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Grouping on Continuous Values</a></span></li></ul></li><li><span><a href="#Working-with-missing-data" data-toc-modified-id="Working-with-missing-data-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Working with missing data</a></span></li><li><span><a href="#Exercises-(15-min)" data-toc-modified-id="Exercises-(15-min)-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Exercises (15 min)</a></span></li></ul></li><li><span><a href="#Reshaping" data-toc-modified-id="Reshaping-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Reshaping</a></span><ul class="toc-item"><li><span><a href="#Pivot" data-toc-modified-id="Pivot-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Pivot</a></span></li><li><span><a href="#Stack-/-Unstack" data-toc-modified-id="Stack-/-Unstack-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Stack / Unstack</a></span></li><li><span><a href="#Melt" data-toc-modified-id="Melt-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Melt</a></span></li><li><span><a href="#Crosstab" data-toc-modified-id="Crosstab-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Crosstab</a></span></li><li><span><a href="#Indicator-/-dummy-variables" data-toc-modified-id="Indicator-/-dummy-variables-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span>Indicator / dummy variables</a></span></li></ul></li><li><span><a href="#Working-with-timeseries" data-toc-modified-id="Working-with-timeseries-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Working with timeseries</a></span><ul class="toc-item"><li><span><a href="#Timestamp-vs-Span" data-toc-modified-id="Timestamp-vs-Span-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Timestamp vs Span</a></span></li><li><span><a href="#DatetimeIndex-and-Periodindex" data-toc-modified-id="DatetimeIndex-and-Periodindex-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>DatetimeIndex and Periodindex</a></span><ul class="toc-item"><li><span><a href="#Pandas-Period-string" data-toc-modified-id="Pandas-Period-string-8.2.1"><span class="toc-item-num">8.2.1&nbsp;&nbsp;</span><em>Pandas Period string</em></a></span></li></ul></li><li><span><a href="#Resampling-frequency" data-toc-modified-id="Resampling-frequency-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Resampling frequency</a></span></li><li><span><a href="#Row-selection-with-timeseries" data-toc-modified-id="Row-selection-with-timeseries-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>Row selection with timeseries</a></span></li><li><span><a href="#Exercises-(20-min)" data-toc-modified-id="Exercises-(20-min)-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span>Exercises (20 min)</a></span></li></ul></li><li><span><a href="#Visualization-with-Matplotlib" data-toc-modified-id="Visualization-with-Matplotlib-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Visualization with Matplotlib</a></span><ul class="toc-item"><li><span><a href="#Line-plot" data-toc-modified-id="Line-plot-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Line plot</a></span></li><li><span><a href="#Box-plot" data-toc-modified-id="Box-plot-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Box plot</a></span></li><li><span><a href="#Histogram" data-toc-modified-id="Histogram-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Histogram</a></span></li><li><span><a href="#Bar-plots" data-toc-modified-id="Bar-plots-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span>Bar plots</a></span></li><li><span><a href="#Horizontal-bars" data-toc-modified-id="Horizontal-bars-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span>Horizontal bars</a></span></li><li><span><a href="#Density-plot" data-toc-modified-id="Density-plot-9.6"><span class="toc-item-num">9.6&nbsp;&nbsp;</span>Density plot</a></span></li><li><span><a href="#Scatter-plot" data-toc-modified-id="Scatter-plot-9.7"><span class="toc-item-num">9.7&nbsp;&nbsp;</span>Scatter plot</a></span></li><li><span><a href="#Pie-chart" data-toc-modified-id="Pie-chart-9.8"><span class="toc-item-num">9.8&nbsp;&nbsp;</span>Pie chart</a></span></li><li><span><a href="#Exercises-(15-min)" data-toc-modified-id="Exercises-(15-min)-9.9"><span class="toc-item-num">9.9&nbsp;&nbsp;</span>Exercises (15 min)</a></span></li></ul></li><li><span><a href="#Final-Challenge-(45-min)" data-toc-modified-id="Final-Challenge-(45-min)-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Final Challenge (45 min)</a></span></li><li><span><a href="#The-community" data-toc-modified-id="The-community-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>The community</a></span></li><li><span><a href="#Acknowledgement-and-sources" data-toc-modified-id="Acknowledgement-and-sources-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Acknowledgement and sources</a></span></li></ul></div>

# Introduction
![pandas](https://pandas.pydata.org/pandas-docs/stable/_static/pandas.svg)

Pandas is a Python library that provides extensive tools for **data analysis and data management**. Data scientists often work with data stored in table formats like .csv, .tsv, or .xlsx. Pandas makes it very convenient to load, process, and analyze such tabular data. In conjunction with Matplotlib and Seaborn, Pandas provides a wide range of opportunities for **visual analysis of tabular data**.

The main data structures in Pandas are implemented with `Series` and `DataFrame` classes. The former is a one-dimensional indexed array of some fixed data type. The latter is a two-dimensional data structure - a table - where each column contains data of the same type. You can see it as a dictionary of Series instances. DataFrames are great for representing real data: rows correspond to instances (examples, observations, etc.), and columns correspond to features of these instances.

Pandas is well suited for many different kinds of data:

* Tabular data with heterogeneously-typed columns, as in a SQL table or Excel spreadsheet.
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels.
* Any other form of observational/statistical data sets. The data actually need not to be labeled for them to be placed into a Pandas data structure.

## Import the library

To start working with Pandas just do:

In [ ]:
import pandas

We saw that Numpy is imported with an abbreviation `np`, the same de-facto standard applies with Pandas, the usual import statement for Pandas is:

In [ ]:
import pandas as pd

Numpy and Pandas work great together, so it is also useful to import Numpy

In [ ]:
import numpy as np

# Pandas Dataframe

A DataFrame object is a two-dimensional table of data with column and row indexes (something like a spread sheet). The columns are made up of Series objects.

![image.png](../data/PandasDataframe.png)

## Columns and Row index
A **DataFrame** has two Indexes:
* Typically, the column index (df.columns) is a list of strings (variable names) or, less commonly, integers.
* Typically, the row index (df.index) might be:
    * Integers - for case or row numbers;
    * Strings – for case names; or
    * DatetimeIndex or PeriodIndex – for time series

## Series objects
**Series object**: an ordered, one-dimensional array of data with an index. All the data in a Series is of the same data type. Series arithmetic is vectorised after first aligning the Series index for each of the operands.

In [ ]:
# Series acts very similarly to a ndarray, and is 
# a valid argument to most NumPy functions.
s1 = pd.Series(np.arange(0,1)) # -> 0, 1, 2, 3 
s2 = pd.Series(np.arange(1,5)) # -> 1, 2, 3, 4
s3 = s1 + s2 # -> 1, 3, 5, 7
s3

In [ ]:
np.sum(s3)

## Dataframe objects

In [ ]:
# Build Dataframe starting from dictionary
D = {
    "one" : np.arange(0,10),
    "two" : np.arange(10,20),
    "three" : np.arange(20,30),
}
D

In [ ]:
myfirstDF = pd.DataFrame(D) # Create a DataFrame starting from a Python dict
myfirstDF

In [ ]:
myfirstDF.dtypes # Shows for every Series in the dataframe its dtype

In [ ]:
myfirstDF.shape # As we saw in Numpy, dataframes have shape

In [ ]:
myfirstDF.one.shape # So the series have shape

In [ ]:
myfirstDF.describe() # Show basic statistic for each column

In [ ]:
type(myfirstDF.describe()) # The description itself is a Dataframe!

In [ ]:
# Build a Dataframe starting from the following arrays
names = ['Bob','Jessica','Mary','John','Mel']
births = np.arange(0,5)

In [ ]:
pd.DataFrame(list(zip(names, births)))

In [ ]:
# Add the columns name
df = pd.DataFrame(list(zip(names,births)), columns=["Name","Births"])
df

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.describe(include="all")

## Data Types comparison
Here are some examples of datatypes across different libraries


| Pandas dtype  	| Python type 	| NumPy type                                                     	| Usage                             	|
|---------------	|-------------	|----------------------------------------------------------------	|-----------------------------------	|
| object        	| str         	| string_, unicode_                                              	| Text                              	|
| int64         	| int         	| int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64 	| Integer numbers                   	|
| float64       	| float       	| float_, float16, float32, float64                              	| Floating point numbers            	|
| bool          	| bool        	| bool_                                                          	| True/False values                 	|
| datetime64    	| NA          	| datetime64[ns]                                                 	| Date and time values              	|
| timedelta[ns] 	| NA          	| NA                                                             	| Differences between two datetimes 	|
| category      	| NA          	| NA                                                             	| Finite list of text values        	|

# File management

## Load data from CSV

In [ ]:
df = pd.read_csv('../data/file.csv')    # Often works 
df

In [ ]:
df = pd.read_csv('../data/file.csv', 
                 header=0,           # Define the first row as 'row index'
                 index_col=0,        # Define the first column as 'column index'
                 quotechar='"',      # Quote character
                 sep=';',            # Separator
                 na_values = ['na', '-', '.', '']) # NULL values
df

In [ ]:
df.describe(include="all")

In [ ]:
df.dtypes

## Load data from MS Excel

In [ ]:
pd.read_excel("../data/file.xlsx") # Reads in the most "basic" way

In [ ]:
f = pd.ExcelFile("../data/file.xlsx") # Custom file descriptor for Excel formats

In [ ]:
f.sheet_names  # Access the sheets' names within the file

## Load from SAS

In [ ]:
#df = pd.read_sas('../data/airline.sas7bdat') # SAS taken from http://www.principlesofeconometrics.com/sas.htm
#df

## Load data from SQL

In order to read from a DB we need a tool which enables the communication between Python and external DBs.

SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.

## Save DataFrame

In [ ]:
# Save to CSV
df.to_csv('tracks.csv', encoding='utf-8')

In [ ]:
# Save to DB
engine.execute("DROP TABLE IF EXISTS tracks_backup")
df.to_sql("tracks_backup",engine)

In [ ]:
engine.table_names()

In [ ]:
# Save to dict
d = df.to_dict()
list(d.keys())

In [ ]:
# To string
s = df.to_string()
print(s.split('\n')[0])
print(s.split('\n')[1])

In [ ]:
# To numpy matrix
np_array = df.values
np_array[:5]

In [ ]:
np_array.shape

# Working with Dataframe

## Generic methods

In [ ]:
# Print a concise summary of a DataFrame.
# This method prints information about a DataFrame including
# the index dtype and column dtypes, non-null values and memory usage.
df.info()

In [ ]:
# Get the first N rows (by default N=5)
df.head(6)

In [ ]:
# Get the last N rows (by default N=5)
df.tail()

In [ ]:
# Summary stats cols (the default mode shows only the numerical columns)
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
df.memory_usage() # Show memory usage in bytes for each column

In [ ]:
df.memory_usage().sum() # Show total memory usage in bytes

In [ ]:
df_copy = df.copy() # copy a DataFrame
df_copy.head()

In [ ]:
# Sort values by Columns
col="Composer"
df.sort_values(by=col).head()

In [ ]:
df.head() # Original df is not changed, see "inplace" argument

In [ ]:
col2 = "Milliseconds"
df.sort_values(by=[col, col2]).head()

In [ ]:
df_sorted = df.sort_values(by=[col, col2])
# Sort the dataframe by index
df_sorted.sort_index().head()

In [ ]:
# It is possibile to sort over the column index 
df.sort_index(axis=1).head(5)

### DataFrame attributes

In [ ]:
df.T # transpose rows and cols

In [ ]:
df.axes # list row and col indexes

In [ ]:
(r_idx, c_idx) = df.axes # from above
r_idx

In [ ]:
c_idx

In [ ]:
df.dtypes # Series column data types

In [ ]:
df.empty  # True for empty DataFrame

In [ ]:
df.ndim   # number of axes (it is 2)

In [ ]:
df.shape  # (row-count, column-count)

In [ ]:
df.size   # row-count * column-count

In [ ]:
df.values # get a numpy array for df

### Iteration methods

In [ ]:
type(df.iteritems()) # iteritems returns an iterator over the columns of type generator

In [ ]:
# Iterate over the columns
generator = df.iteritems()

In [ ]:
for i, (column_name, series) in enumerate(generator):
    print(f'Column is {column_name}\nand the head values are\n{series.head()}')
    if i > 2:
        break

In [ ]:
# Iterate over the rows
generator = df.iterrows()

In [ ]:
for i, (row_index, series) in enumerate(generator):
    print(f'Row index is {row_index}\nand the head values are\n{series.head()}')
    if i > 2:
        break

## Math methods

In [ ]:
pd.set_option('display.max_rows', 10) # Instead of using with statement, set once for all

In [ ]:
# Absolute value of numeric value
df["Bytes"].abs()

In [ ]:
# Basic operations works 
df["Name"].add(", Title")

In [ ]:
df["Name"] + ", Title"

In [ ]:
df["Bytes"] / (1024**2)

In [ ]:
# Count values for each column
df.count()

In [ ]:
# Cumulative max value
mask = ["Milliseconds", "Bytes"] # Work only on this columns
df[mask]

In [ ]:
df[mask].cummax()

In [ ]:
# Cumulative min value
df[mask].cummin()

In [ ]:
# Cumulative sum
df[mask].cumsum()

In [ ]:
# Calculates the difference of a DataFrame element compared with another
# element in the DataFrame (default is the element in the same column
# of the previous row).
df[mask].diff()

In [ ]:
# Matrix multiplication
df[mask].dot([1,2])

In [ ]:
df.max()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.min()

In [ ]:
df.sum()

## Select/filter rows/cols

In [ ]:
# Filter Dataframe by columns
df.filter(items=['Name', 'Composer'])

In [ ]:
# We already use it!
df[['Name', 'Composer']]

In [ ]:
# Filter Dataframe by row  
df.filter(items=[5,10], axis=0)

In [ ]:
# Keep columns that contain specif string
df.filter(like='Id')

In [ ]:
# Filter on index
mask = df.index.map(lambda x: not x%2)
df.loc[mask] # get even rows

In [ ]:
# Filter on condition
mask = df["Bytes"]>50000000
df.loc[mask]

# Access the Dataframe

## Column-wise operation

In [ ]:
idx = df.columns # get columns index
idx

In [ ]:
label = idx[0] # first column label
label

In [ ]:
l = idx.tolist() # list of col labels 
l

In [ ]:
print(type(idx)) # idx is Index type
a = idx.values # nd-array of col labels
print(a)
print(type(a))

### Change column labels

In [ ]:
df.rename(columns={'Name':'Title','UnitPrice':'UnitPriceEuro'})

In [ ]:
# Replace all the columns index name (in place)
df.columns = ['Track', 'Title', 'Album', 'Media', 'Genere', 'Composer', "Milliseconds", "B", "Price"] 
df

In [ ]:
# Rollback !
df.columns = ['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', "Milliseconds", "Bytes", "UnitPriceEuro"] 
df

### Selecting columns

In [ ]:
df['Name'] # select column and get a Series

In [ ]:
df[['Name']] # select columns and get a Dataframe

In [ ]:
df[['TrackId','Name']]  # select 2-plus columns

In [ ]:
df[['Name', 'TrackId']] # you can define the order

In [ ]:
df[df.columns[1]] # select column by index position

In [ ]:
df[df.columns[[0, 3, 4]]]

In [ ]:
df[df.columns[:-1]] # all except last column

In [ ]:
Composer = df.pop('Composer')  
Composer

In [ ]:
# Composer is not in df anymore
df

In [ ]:
# Let's put Composer back in
df["Composer"] = Composer
df

In [ ]:
# Access column by Attribute
df.Name

### Adding new columns to a DataFrame

In [ ]:
df['MBytes'] = df.Bytes/(1024**2) # Create a new column

In [ ]:
df

In [ ]:
# Vectorised arithmetic on columns
df["UnitPriceUSD"] = df["UnitPriceEuro"] / 1.14
df

In [ ]:
# Drop column 
df.drop("UnitPriceUSD", axis=1) # Returns the dataframe without the dropped column

In [ ]:
df.head()  # The original df still have UnitPriceUSD

In [ ]:
df.drop(['Composer', 'MBytes'],axis=1).head() # You can drop multiple cols at once

In [ ]:
df.drop("UnitPriceUSD", axis=1, inplace=True) # With inplace=True the operation happens on the object

In [ ]:
df

In [ ]:
# Set column values set based on criteria
df['NewUnitPriceEuro'] = df['UnitPriceEuro'].where(df['UnitPriceEuro']!=0.99, other=0.90)
df

### Common column element wise methods

In [ ]:
# Get the list of unique values for the columns 
df.Composer.value_counts()

In [ ]:
# Return an array with same shape of the dataframe index where each value say if the element is a NaN value or not.
df['Composer'].isnull()

In [ ]:
df['Composer'].notnull() # not isnull()

In [ ]:
df['Composer'].fillna("Empty") # replace NaN w 0 s = df['col'].cumsum()

In [ ]:
# Data type conversions
df['MBytes'].astype("int32")

In [ ]:
df['Bytes']

In [ ]:
# Check if the Series is monotonically increasing
df.TrackId.is_monotonic_increasing

In [ ]:
df.Bytes.is_monotonic_increasing

In [ ]:
# Check if the Series is monotonically decreasing
np.invert(df.TrackId).is_monotonic_decreasing

In [ ]:
df['Bytes'].rolling(window=4, min_periods=4, center=False).mean() # Compute average on moving window

## Rowwise operations

In [ ]:
idx = df.index # get row index
idx

In [ ]:
df.index[0] # first row label

In [ ]:
df.index[-1] # last row label

In [ ]:
l = df.index.tolist() # get index as a list 
l[:10]

In [ ]:
df.index.values # get index as an nd-array

In [ ]:
# Set a specific column as row index
df.set_index('TrackId') # Returns a dataframe or see inplace as usual

In [ ]:
# Create a MultiIndex 
df = df.set_index(['TrackId', 'AlbumId'])
df

In [ ]:
# Reset the index and create a new one
df = df.reset_index()
df

In [ ]:
# Rename row index, element wise
df.rename(index=lambda idx: "row{}".format(idx), inplace=True)
df

In [ ]:
# Append rows to a dataframe
df_to_append = pd.DataFrame(
    {"TrackId":3505, 
     "AlbumId":42 ,
     "Name":"Under Pressure", 
     "MediaTypeId":2, 
     "GenreId": 3,
     "Milliseconds":375418, 
     "UnitPriceEuro":1.99,
     "NewUnitPriceEuro":1.99,
     "Bytes": 6290521,
     "MBytes": 5.999108 ,
     "Composer": "David Bowie , John Richard Deacon , Brian Harold May , Freddie Mercury ,Roger Meddows Taylor" 
    },
    index=["row3504"])
df_to_append

In [ ]:
df = df.append(df_to_append, sort=False)
df

In [ ]:
# Drop row by index
df = df.drop("row3504")
df

In [ ]:
# Drop duplicate
df.drop_duplicates("TrackId")

In [ ]:
# Boolean row selection by condition on values in a column
df[df['UnitPriceEuro'] > 0.99]

In [ ]:
df[(df['UnitPriceEuro'] > 0.99) & (df['MBytes'] > 500)] # Combining boolean conditions

In [ ]:
df[df['GenreId'].isin([20,21])] # Verify if the element of the column is part of a list of values

In [ ]:
df[~df['GenreId'].isin([20,21])]  # Not is in 
df

In [ ]:
# Check if a column string type,contains specific string 
df.Composer = df.Composer.fillna("") # We need to clean the column to work on be
df[df['Composer'].str.contains('Bowie')]

In [ ]:
# Select rows by index 
mask = df[df['GenreId'].isin([20,21])].index
display(mask)
df.loc[mask]

In [ ]:
# Select a slice of rows by integer position
df[100:200]

In [ ]:
# Get integer position of rows that meet condition
idx = np.where(df['GenreId'].isin([20,21])) # Numpy array, not a Series!
print(idx)
df.iloc[idx]

In [ ]:
# Use the np where to define a new Series, remember it is a element wise operation 
df['NewUnitPriceEuro'] = np.where(df['MBytes']>=500, 2.99, df['NewUnitPriceEuro'])
df[df['MBytes']>=500]

## Summary  Dataframe indexing
We already used until now but let's summarize the different ways to access the dataframe

In [ ]:
df['row2846':'row2919'] # label slice

In [ ]:
df[3:7]  # integer slice

In [ ]:
df[7:3]  # why?

In [ ]:
df[df.UnitPriceEuro >= 1.99]  # Boolean Series

In [ ]:
df.loc["row2819"] # select by index

In [ ]:
df.loc[["row2819","row2820"]] # lable list/Series

In [ ]:
df.loc['row2819':'row2946'] # inclusive slice

In [ ]:
df.loc[df.UnitPriceEuro >= 1.99] # Boolean Series

In [ ]:
df.iloc[10]  # single row access by integer position

In [ ]:
df.iloc[[20,12,15]]  # int list/Series

In [ ]:
df.iloc[20:35]

In [ ]:
# Access single element by label
df.at["row30", "Name"]

In [ ]:
# Access single element by index
df.iat[30,2]

## Exercises (30 min)
Open the notebook called "Pandas Execises 1" from the folder exercises

# Advanced operations

## Merge join, concatenate

Pandas provides various functionalities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                     index=[4, 5, 6, 7])
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])
df3

In [ ]:
# Concat 
pd.concat([df1,df2,df3])

In [ ]:
# Concat and add a a multi-index for each df 
pd.concat([df1,df2,df3], keys=["x", "y", "z"])

In [ ]:
# Concat on column axis  (with outer join)
df2 = pd.DataFrame({'E': ['A4', 'A5', 'A6', 'A7'],
                    'F': ['B4', 'B5', 'B6', 'B7'],
                    'G': ['C4', 'C5', 'C6', 'C7'],
                    },
                     index=[1, 2, 3 ,4]) # Watch out!
display(df2)
pd.concat([df1,df2], axis=1)

In [ ]:
# Concat on column axis  (with inner join)
df2 = pd.DataFrame({'E': ['A4', 'A5', 'A6', 'A7'],
                    'F': ['B4', 'B5', 'B6', 'B7'],
                    'G': ['C4', 'C5', 'C6', 'C7']},
                     index=[1, 2, 3 ,4])
pd.concat([df1,df2], axis=1, join="inner") # Only common rows

In [ ]:
# Concat ignoring the index
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                     index=[1, 2, 3 ,4])
pd.concat([df1,df2], ignore_index=True, sort=False)
# As you can see the dataframe df2 have a new set of index

### Database-style DataFrame joining/merging

Pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL. These methods perform significantly better (in some cases well over an order of magnitude better) than other open source implementations (like base::merge.data.frame in R). The reason for this is careful algorithmic design and the internal layout of the data in DataFrame.

In [ ]:
import numpy as np
np.random.seed(42)
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': np.random.randn(4)})
df1

In [ ]:
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                    'value': np.random.randn(4)})
df2

The Merge method perform a database-style join operation by one or multiple columns

In [ ]:
# Inner Join
pd.merge(df1, df2, on='key')

In [ ]:
# Left outer join
pd.merge(df1, df2, on='key', how='left')

In [ ]:
# Right outer join 
pd.merge(df1, df2, on='key', how='right')

In [ ]:
# Full Join
pd.merge(df1, df2, on='key', how='outer')

The join method it usually used to merge two dataframe on their indexed by default, if you need to merge on column that are not indexed, it is beter to use merge method.

In [ ]:
df2.set_index("key", inplace=True)
df2 # Notice that key is not unique

In [ ]:
# Note the suffix to avoid overlapping column index
df1.join(df2, on="key", how='outer', lsuffix="x")

## Groupby : split-apply-combine

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria.
* Applying a function to each group independently.
* Combining the results into a data structure.

Out of these, the split step is the most straightforward. In fact, in many situations we may wish to split the data set into groups and do something with those groups. In the apply step, we might wish to one of the following:

* Aggregation: compute a summary statistic (or statistics) for each group. Some examples:

    * Compute group sums or means.
    * Compute group sizes / counts.

* Transformation: perform some group-specific computations and return a like-indexed object. Some examples:

    * Standardize data (zscore) within a group.
    * Filling NAs within groups with a value derived from each group.

* Filtration: discard some groups, according to a group-wise computation that evaluates True or False. Some examples:

    * Discard data that belongs to groups with only a few members.
    * Filter out data based on the group sum or mean.

* Some combination of the above: GroupBy will examine the results of the apply step and try to return a sensibly combined result if it doesn’t fit into either of the above two categories.

In [ ]:
# Splitting an object into groups
grouped = df.groupby("UnitPriceEuro")
grouped

In [ ]:
# Aggregate: get the unique count of each column
grouped.nunique()

In [ ]:
# Different operation of aggreation for each columns
grouped.agg(
    {"GenreId": pd.Series.nunique,
    "MBytes": pd.Series.sum}     
)
# Note : The result dataframe is sorted by default in case you have big dataframe to aggregate, it is possible to disable the sort in order to improve the perfomance.
# Note2: If there are any NaN or NaT values in the grouping key, these will be automatically excluded.

In [ ]:
# Get the index of the different groups 
grouped.groups

In [ ]:
# Get a specific group by index
grouped.get_group(1.99)

### Aggregation functions

| Function   	| Description                                	|
|------------	|--------------------------------------------	|
| mean()     	| Compute mean of groups                     	|
| sum()      	| Compute sum of group values                	|
| size()     	| Compute group sizes                        	|
| count()    	| Compute count of group                     	|
| std()      	| Standard deviation of groups               	|
| var()      	| Compute variance of groups                 	|
| sem()      	| Standard error of the mean of groups       	|
| describe() 	| Generates descriptive statistics           	|
| first()    	| Compute first of group values              	|
| last()     	| Compute last of group values               	|
| nth()      	| Take nth value, or a subset if n is a list 	|
| min()      	| Compute min of group values                	|
| max()      	| Compute max of group values                	|

In [ ]:
# Traformation: returns an object that is indexed the same (same size) as the one being grouped. 
grouped["MBytes"].transform(lambda x: x.max() + x.min())

In [ ]:
grouped.transform(lambda x: x.max() - x.min())

In [ ]:
# Why NewUnitPriceEuro is 0?
df[df.UnitPriceEuro == 0.99].NewUnitPriceEuro.max(),df[df.UnitPriceEuro == 0.99].NewUnitPriceEuro.min()

In [ ]:
# Filtration: The filter method returns a subset of the original object. 
globalmean = df["MBytes"].mean()
grouped.filter(lambda x: x["MBytes"].mean() > globalmean )

**Apply**: Some operations on the grouped data might not fit into either the aggregate or transform categories. 
Or, you may simply want GroupBy to infer how to combine the results. 

For these, use the apply function, which can be substituted for both aggregate and transform in many standard use cases. 

**Apply** can act as a reducer, transformer, or filter function, depending on exactly what is passed to it

In [ ]:
print(grouped["MBytes"].apply(lambda x: x.describe()).to_string())

In [ ]:
df["Name"].apply(lambda x: x.split(" "))

### Grouping on Continuous Values

In [ ]:
df.Milliseconds.describe() # Consider the Milliseconds column

In [ ]:
m, M = df.Milliseconds.min(), df.Milliseconds.max()
bucket_size = 60000
df.groupby(pd.cut(df.Milliseconds, np.arange(m, M+bucket_size, bucket_size))).mean()

## Working with missing data
Pandas uses the not-a-number construct (np.nan and float('nan')) to indicate missing data. 
The Python None can arise in data as well. 
It is also treated as missing data; as is the pandas not-a-time construct (pandas.NaT).

In [ ]:
s = pd.Series([8,None,float('nan'),np.nan]) #[8, NaN, NaN, NaN]
s

In [ ]:
# Get a Series where check element wise if is NaN value
s.isnull() #[False, True, True, True]

In [ ]:
# Get a Series where check element wise if is not a NaN value
s.notnull() #[True, False, False, False]

In [ ]:
# Replace NaN values 0
s.fillna(0) #[8, 0, 0, 0]

In [ ]:
df_nan = pd.DataFrame(np.random.randn(5, 3), 
                      index=['a', 'c', 'e', 'f', 'h'],
                      columns=['one', 'two', 'three'])
df_nan

In [ ]:
df_nan = df_nan.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']) # reindex might insert NaNs
df_nan.iloc[0,0] = None
df_nan

In [ ]:
df_nan.dropna()          # drop all rows with NaN

In [ ]:
df_nan.dropna(how='all') # drop all row where all the values are NaN

In [ ]:
df_nan["three"].fillna(0, inplace=True)
df_nan.dropna(axis=1)    # drop all columns with NaN

In [ ]:
# only drop a row if NaN in a specified col 
df_nan.dropna(axis=0, subset=["two"])

## Exercises (15 min)
Open the notebook called "Pandas Exercises 2" inside exercises folder

# Reshaping

## Pivot
![image.png](../data/reshaping_pivot.png)

In [ ]:
from io import StringIO

data = u"""Data,Agenzia,Regione,Partito,Stima
13/03/2014, Opinio, Puglia, PD, 25
13/03/2014, Opinio, Puglia, FI, 28
13/03/2014, Opinio, Lombardia, PD, 24 
13/03/2014, Opinio, Lombardia, FI, 23
13/03/2014, EMG, Puglia, PD, 23
13/03/2014, EMG, Puglia, FI, 24
13/03/2014, EMG, Lombardia, PD, 26
13/03/2014, EMG, Lombardia, FI, 25
13/03/2014, EMG, Veneto, PD, 21
13/03/2014, EMG, Veneto, FI, 27""" 

df_poll = pd.read_csv(StringIO(data), header=0, skipinitialspace=True)
df_poll

In [ ]:
# pivot to wide format on 'Partito' column 
# 1st: set up a MultiIndex for other cols 
df1 = df_poll.set_index(['Data', 'Agenzia', 'Regione'])
df1

In [ ]:
df_poll.pivot(columns='Partito')

In [ ]:
# 2nd: do the pivot
wide1 = df1.pivot(columns='Partito')
wide1

## Stack / Unstack

**Stack**:“pivot” a level of the (possibly hierarchical) column labels, returning a DataFrame with an index with a new inner-most level of row labels.
![image.png](../data/reshaping_stack.png)

**Unstack**: (inverse operation of stack) “pivot” a level of the (possibly hierarchical) row index to the column axis, producing a reshaped DataFrame with a new inner-most level of column labels.

![image.png](../data/reshaping_unstack.png)

In [ ]:
df_poll

In [ ]:
# unstack to wide format on Regione / Partito 
# 1st: MultiIndex all but the Values col 
df2 = df_poll.set_index(['Data', 'Agenzia', 'Regione', 'Partito'])
df2

In [ ]:
# 2nd: unstack a column to go wide on it 
wide2 = df2.unstack('Regione')
wide2

In [ ]:
wide3 = df2.unstack() # default : pop last index
wide3

In [ ]:
# Use stack() to get back to long format 
long1 = wide1.stack()
long1

In [ ]:
# Then use reset_index() to remove the
# MultiIndex.
long2 = long1.reset_index()
long2

## Melt

"Unpivots" a DataFrame from wide format to long format.

![image.png](../data/reshaping_melt.png)

In [ ]:
wide1

In [ ]:
# melt() back to long format
# 1st: flatten the column index 
wide1.columns = ['_'.join(col) for col in wide1.columns.values] 
print(wide1.columns)
wide1

In [ ]:
# 2nd: remove the MultiIndex
wide1 = wide1.reset_index()
wide1

In [ ]:
# 3rd: melt away
long3 = pd.melt(wide1, 
                value_vars=['Stima_FI', 'Stima_PD'], 
                var_name='Partito', 
                id_vars=['Data', 'Agenzia', 'Regione']
               )
long3

## Crosstab
Use crosstab() to compute a cross-tabulation of two (or more) factors. 

By default crosstab computes a frequency table of the factors unless an array of values and an aggregation function are passed.

In [ ]:
pd.crosstab(df_poll.Agenzia, df_poll.Regione, margins=True)

## Indicator / dummy variables

To convert a categorical variable into a “dummy” or “indicator” DataFrame: for example a column in a DataFrame (a Series) which has k distinct values, can derive a DataFrame containing k columns of 1s and 0s using

In [ ]:
df_poll

In [ ]:
pd.get_dummies(df_poll[['Agenzia', 'Regione']])

# Working with timeseries

Pandas has proven very successful as a tool for working with time series data, especially in the financial data analysis space.

Working with time series data, we will frequently seek to:

* generate sequences of fixed-frequency dates and time spans
* conform or convert time series to a particular frequency
* compute “relative” dates based on various non-standard time increments (e.g. 5 business days before the last business day of the year), or “roll” dates forward or backward

pandas provides a relatively compact and self-contained set of tools for performing the above tasks.

## Timestamp vs Span

With its focus on time-series data, pandas has a suite of tools for managing dates and time: either as a point in time (a Timestamp) or as a span of time (a Period).

In [ ]:
pd.Timestamp('2013-01-01')

In [ ]:
pd.Timestamp('2013-01-01 21:15:06')

In [ ]:
pd.Timestamp('2013-01-01 21:15:06.7')

In [ ]:
pd.Period('2013-01-01', freq='M')

In [ ]:
ts = ['2015-04-01', '2014-04-02']
# Series of Timestamps (good)
s = pd.to_datetime(pd.Series(ts))
s

In [ ]:
# Series of Periods (in months) 
pd.Series([pd.Period(x, freq='M') for x in ts] )

In [ ]:
# Period is useful as index
pd.Series(pd.PeriodIndex(ts,freq='D'))

In [ ]:
pd.Series(pd.PeriodIndex(ts,freq='Y'))

In [ ]:
t = ['09:08:55.7654-JAN092002', '15:42:02.6589-FEB082016']
pd.Series(pd.to_datetime(t, format="%H:%M:%S.%f-%b%d%Y"))

## DatetimeIndex and Periodindex

In [ ]:
date_strs = ['2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01']
dti = pd.DatetimeIndex(date_strs)
dti

In [ ]:
pid = pd.PeriodIndex(date_strs, freq='D') 
pid

In [ ]:
pim = pd.PeriodIndex(date_strs, freq='M') 
pim

In [ ]:
piq = pd.PeriodIndex(date_strs, freq='Q')
piq

In [ ]:
print (pid[1] - pid[0]) # 90 days 
print (pim[1] - pim[0]) # 3 months 
print (piq[1] - piq[0]) # 1 quarter

In [ ]:
time_strs = ['2015-01-01 02:10:40.12345', '2015-01-01 02:10:50.67890'] 
pis = pd.PeriodIndex(time_strs, freq='U') # Microseconds frequency
pis

In [ ]:
# Create Period index to an existing dataframe
df.index = pd.period_range('2015-01', periods=len(df), freq='D')
df

In [ ]:
dti = pd.to_datetime(['04-01-2012'], dayfirst=True) # USA date format
dti

In [ ]:
# Create a period index from a range of dates
pi = pd.period_range('1960-01-01', '2015-12-31', freq='Q')
pi

In [ ]:
pi = pd.period_range('1960-01-01', '2015-12-31', freq='H')
pi

In [ ]:
# Change the frequency to days
pi.asfreq(freq="D")

### *Pandas Period string*
![image.png](../data/Pandas-Period-String.png)

## Resampling frequency
resample is similar to using a rolling() operation with a time-based offset.

In [ ]:
df.resample("A")["MBytes"].sum()

## Row selection with timeseries

In [ ]:
february_selector = (df.index.month == 2)
february_data = df[february_selector]
february_data

In [ ]:
# Select Q1 data
df[(df.index.month >= 1) & (df.index.month <= 3)]

In [ ]:
df.groupby(df.index.year)["Bytes", "Milliseconds"].sum()

## Exercises (20 min)

Open the notebook called "Pandas Execises 3" from the current folder

In [ ]:
# To enable the plot in your jupyter you have first to run
%matplotlib inline

# Visualization with Matplotlib
## Line plot

In [ ]:
from matplotlib import pyplot as plt
cols = ["MBytes"]
df1 = df[cols].cumsum()
ax = df1.plot()
ax.set_title("Storage weight")
ax.set_xlabel("Time")
ax.set_ylabel("MByte")
ax

In [ ]:
fig = ax.figure
fig.set_size_inches(8, 3) 
fig.tight_layout(pad=1) 
fig.savefig('filename.png', dpi=125)
plt.close()

## Box plot

In [ ]:
df["Minutes"] = df["Milliseconds"] / 60000
df["Minutes"].plot.box(vert=False)

In [ ]:
df["MBytes"].plot.box()

## Histogram

In [ ]:
df["MBytes"].plot.hist(bins=20)

In [ ]:
df["Minutes"].plot.hist(bins=20, xlim=(50, 100), ylim=(0,10), title='Minutes')

## Bar plots

In [ ]:
#Create a new sample dataframe 
np.random.seed(42)
a = np.random.normal(0,1,999) 
b = np.random.normal(1,2,999)
c = np.random.normal(2,3,999) 
df_sample = pd.DataFrame([a,b,c]).T 
df_sample.columns = ['A', 'B', 'C']
df_sample

In [ ]:
bins = np.linspace(-10,10,21) 
binned = pd.DataFrame()
for x in df_sample.columns:
    y=pd.cut(df_sample[x],bins,labels=bins[:-1]) 
    y=y.value_counts().sort_index() 
    binned = pd.concat([binned,y],axis=1)
binned.index = binned.index.astype(float) 
binned.index += (np.diff(bins) / 2.0)
binned

In [ ]:
ax = binned.plot.bar(stacked=False, width=0.8)

## Horizontal bars

In [ ]:
ax = binned['A'][(binned.index >= -4) & (binned.index <= 4)].plot.barh()

## Density plot

In [ ]:
df_sample.plot.kde()

## Scatter plot

In [ ]:
df_sample.plot.scatter(x='A', y='C')

## Pie chart

In [ ]:
genre_group = df.groupby("GenreId").agg({"TrackId":"count"})
genre_group

In [ ]:
def autopct_generator(limit):
    """Remove percent on small slices."""
    def inner_autopct(pct):
        return ('%.2f%%' % pct) if pct > limit else ''
    return inner_autopct

genre_group.plot.pie(
    figsize=(12,13),y="TrackId", 
    autopct=autopct_generator(7))

## Exercises (15 min)

Open the notebook called "Pandas Execises 4" from the exercises folder

# Final Challenge (45 min)

Open the notebook called "Pandas Challenge" from the exercises folder

# The community

- [Pandas official website](https://pandas.pydata.org/)
- [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/): official documentation for Pandas
- [Pandas getting started](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html)
- [Pandas vs SAS](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sas.html)
- [Pandas vs SQL](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html)
- [Pandas indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)
- [Pandas merge and join](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
- [Pandas profiling](https://github.com/pandas-profiling/pandas-profiling): third party library to create reports
- [Pydata](https://pydata.org/): community of users and developers of data analysis tools
- [stackoverflow/pandas](http://stackoverflow.com/questions/tagged/pandas): where almost every developer learns, shares and builds her programming skills.

# Acknowledgement and sources
- [Pandas notes](http://markthegraph.blogspot.com/2014/12/updated-cheat-sheets-python-pandas-and.html) some usefull notes for Pandas - Matplotlib
- [Tutorial for Pandas Analisys](https://mlcourse.ai/notebooks/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true) Great resource , with a lot of tutorial and example to work with Pandas
- [Pandas exercises](https://github.com/guipsamora/pandas_exercises ) Useful repository for practice with Pandas